reference : https://itstory1592.tistory.com/13

In [3]:
import pandas as pd

wine = pd.read_csv('https://bit.ly/wine_csv_data')

In [4]:
wine.head(10) # class가 0이면 화이트 와인, 1이면 레드 와인

   alcohol  sugar    pH  class
0      9.4    1.9  3.51    0.0
1      9.8    2.6  3.20    0.0
2      9.8    2.3  3.26    0.0
3      9.8    1.9  3.16    0.0
4      9.4    1.9  3.51    0.0
5      9.4    1.8  3.51    0.0
6      9.4    1.6  3.30    0.0
7     10.0    1.2  3.39    0.0
8      9.5    2.0  3.36    0.0
9     10.5    6.1  3.35    0.0

In [5]:
data = wine[['alcohol', 'sugar', 'pH']].to_numpy()
target = wine['class'].to_numpy()

from sklearn.model_selection import train_test_split

train_input, test_input, train_target, test_target = train_test_split(
    data, target, test_size=0.2, random_state=42
)
print(train_input.shape, test_input.shape)

(5197, 3) (1300, 3)

In [28]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=0)
forest.fit(train_input, train_target)

print("훈련 세트 정확도: {:.3f}".format(forest.score(train_input, train_target)))
print("테스트 세트 정확도: {:.3f}".format(forest.score(test_input, test_target)))

훈련 세트 정확도: 0.937
테스트 세트 정확도: 0.875